    header {
        background-color: rgb(207, 206, 206);
    }
    
    .me {
        border-radius: 180px;
        -webkit-border-radius: 180px;
        -moz-border-radius: 180px;
        -ms-border-radius: 180px;
        -o-border-radius: 180px;
    }
    
    .name {
        margin-left: 30%;
        color: rgb(63, 37, 11);
    }
    
    .aaa {
        display: flex;
    }
    
    .art {
        margin-left: 10%;
    }
    
    body {
        font-family: sans-serif;
        display: flex;
    }
    
    .contener {
        display: flexbox;
        background-color: rgb(6, 94, 134);
    }